In [1]:
name='Nidhi'
age = 21
is_student = True
print(name , age , is_student)

Nidhi 21 True

In [2]:
a = 10
b = 5 
temp = a 
a = b
b = temp
print('Swapped : a= ',a)
print('b = ',b)

Swapped : a=  5
b =  10

In [4]:
length = 8
breadth = 10
area  = length * breadth
print('Area of rectangle:' , area)

Area of rectangle: 80

In [7]:
a = [1,2,3]
b = a
b.append(5)
print(a)
print(b)

[1, 2, 3, 5]
[1, 2, 3, 5]

In [9]:
x = 10 
y = x 
y+= 5
print(x)
print(y)

10
15

In [12]:
a = 'hello'
b = 'world'
print(f'a:{a} , b:{b}')

a:hello , b:world

In [25]:
list1 = [0,1,2]
list2 = list1
list1 = [7,8,9]
print(list2)
print(id(list1))
print(id(list2))

[0, 1, 2]
2876332046080
2876332033280

In [26]:
x = 1
y = 1
a = 1000
b = 1000
print(id(x) == id(y))
print(id(a) == id(b))

True
False