**If Statement**

**if some_condition:**  
        
    #execute the code

**If/Else Statement**

**if some_condition:**  
        
    #execute the code 

**else:**  

    #do something else

**if some_condition:**  
        
    #execute the code  

**elif some_other_condition:**  

    #do something different

**else:**  

    #do something else

**if / else / elif â€“ Choose what to do**  

**These are used for decision-making.**

In [21]:
if True:
    print('Its true')

Its true

In [22]:
if 3>2:
    print('Its true')

Its true

In [29]:
hungry = 'abc'
if hungry:
    print('Feed')

Feed

In [30]:

if hungry:
    print('Feed')

Feed

In [31]:
hungry = False
if hungry:
    print('Feed')

In [32]:
hungry = False
if hungry:
    print('Feed')
else:
    print('I am not hungry')

I am not hungry

In [33]:
hungry = True
if hungry:
    print('Feed')
else:
    print('I am not hungry')

Feed

In [34]:
loc = 'Bank'

if loc=='Auto shop':
    print('Cars are cool')
else:
    print('Bikes are cool')

Bikes are cool

In [35]:
loc = 'Bank'

if loc=='Auto shop':
    print('Cars are cool')
elif loc=='Bank':
    print('Money')
else:
    print('Bikes are cool')

Money

In [36]:
loc = 'Bank'

if loc=='Auto shop':
    print('Cars are cool')
elif loc=='Bank':
    print('Money')
elif loc=='Card':
    print('Account')
else:
    print('Bikes are cool')

Money

In [37]:
loc = 'Barfi'

if loc=='Auto shop':
    print('Cars are cool')
elif loc=='Bank':
    print('Money')
elif loc=='Card':
    print('Account')
else:
    print('Bikes are cool')

Bikes are cool

In [38]:
name='Samay'

if name=='Ranveer':
    print('Hi Ranveer')
elif name=='Samay':
    print('Hi Samay')
else:
    print('By')

Hi Samay

**FOR LOOP**

**my_iterable = [1,2,3]**  

**for item_name in my_iterable:**  

    print(item_name)

In [39]:
my_list =[1,2,3,4,5,6,7,8,9,10]

In [40]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [43]:
my_list =[1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [44]:
my_list =[1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num%2==0:
        print(num)

2
4
6
8
10

In [46]:
my_list =[1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num%2==0:
        print(num)
    else:
        print(f"Odd number {num}")

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [47]:
list_sum = 0
for num in my_list:
   list_sum = list_sum + num
print(list_sum)

55

In [48]:
list_sum = 0
for num in my_list:
   list_sum = list_sum + num
   print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [50]:
my_string = 'Hello World'
for letter in my_string:
    print(my_string)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [51]:
my_string = 'Hello World'
for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [52]:
for barfi in 'Hello World':
    print(barfi)

H
e
l
l
o

W
o
r
l
d

In [55]:
tup=(1,2,3)

for item in tup:
    print(item)

1
2
3

In [56]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [58]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [59]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [60]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [61]:
for (a,b) in mylist:
    print(b)

2
4
6
8

In [64]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [65]:
for a,b,c in mylist:
    print(b)

2
5
8

In [68]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

**we must use .items() if we want both key and value.**

In [69]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [72]:
d = {'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [74]:
d = {'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3

In [77]:
d = {'k1':1,'k2':2,'k3':3}
for key in d.keys():
    print(key)

k1
k2
k3

In [85]:
list1 = [1,2,3,4,5]
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

15

In [86]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [87]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [88]:
sorted(d.values())

[1, 2, 3]

**FOR LOOP : A for loop is used when you want to repeat something**

**my_iterable = [1,2,3]**  

**for item_name in my_iterable:**  

    print(item_name)

In [89]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [90]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [91]:
for num in my_list:
    if num%2==0:
        print(num)

2
4
6
8
10

In [92]:
for num in my_list:
    if num%2==0:
        print(num)
    else:
        print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9
10

In [96]:
my_list = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for num in my_list:
    list_sum = list_sum+num
print(list_sum)

55

In [97]:
my_list = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for num in my_list:
    list_sum = list_sum+num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [99]:
my_string = 'My college'
for letter in  my_string:
    print(letter)

M
y

c
o
l
l
e
g
e

In [100]:
for letter in  'My college':
    print(letter)

M
y

c
o
l
l
e
g
e

In [104]:
tup=(1,2,3)
for abc in tup:
    print(abc)

1
2
3

In [106]:
mylist = [(1,2),(3,4),(5,6),(7,8),(9,10)]
len(mylist)

5

In [107]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [108]:
for (a,b) in mylist:
    print(a)

1
3
5
7
9

In [109]:
for (a,b) in mylist:
    print(b)

2
4
6
8
10

In [110]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [111]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [113]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(b)

2
5
8

In [114]:
d = {'k1':1 , 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [115]:
d = {'k1':1 , 'k2':2, 'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [119]:
d = {'k1':1 , 'k2':2, 'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [120]:
d = {'k1':1 , 'k2':2, 'k3':3}
for value in d.values():
    print(value)

1
2
3

In [121]:
d = {'k1':1 , 'k2':2, 'k3':3}
for key in d.keys():
    print(key)

k1
k2
k3

In [122]:
list2 = [(1,2),(3,4),(5,6)]
for (t1,t2) in list2:
    print(t1)

1
3
5

In [123]:
list2 = [(1,2),(3,4),(5,6)]
for (t1,t2) in list2:
    print(t2)

2
4
6

In [124]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [125]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [126]:
list (d.keys())

['k1', 'k2', 'k3']

In [127]:
sorted(d.values())

[1, 2, 3]

**WHILE LOOP**

**while some_boolean_condition:**  

    #do something

**else:**  

    #do domething different

In [128]:
x = 0
while x<5:
    print(f'The current value of x is {x}')
    x = x+1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [129]:
x = 0
while x<5:
    print(f'The current value of x is {x}')
    x = x+1
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

**break: Breaks out of the current closest enclosing loop.**

**continue: Goes to the top of the closest enclosing loop.**

**pass: Does nothing at all.**

In [130]:
x = [1,2,3]
for item in x:
    #nothing

SyntaxError: incomplete input (1278573129.py, line 3)

In [131]:
x = [1,2,3]
for item in x:
    pass
print('end')

end

In [135]:
my_string = 'Sammy'
for letter in my_string:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [136]:
my_string = 'Banana'
for letter in my_string:
    if letter == 'a':
        continue
    print(letter)

B
n
n

In [141]:
x = 0
while x<5:
    x+=1
    print(x)

1
2
3
4
5

In [144]:
x = 0
while x<5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [146]:
x = 0
while x<10:
    print('Current value of x: ',x)
    print('X is still less than 10 , add 1 to x')
    x+=1

Current value of x:  0
X is still less than 10 , add 1 to x
Current value of x:  1
X is still less than 10 , add 1 to x
Current value of x:  2
X is still less than 10 , add 1 to x
Current value of x:  3
X is still less than 10 , add 1 to x
Current value of x:  4
X is still less than 10 , add 1 to x
Current value of x:  5
X is still less than 10 , add 1 to x
Current value of x:  6
X is still less than 10 , add 1 to x
Current value of x:  7
X is still less than 10 , add 1 to x
Current value of x:  8
X is still less than 10 , add 1 to x
Current value of x:  9
X is still less than 10 , add 1 to x

In [147]:
x = 0
while x<10:
    print('Current value of x: ',x)
    print('X is still < 10 , + 1 to x')
    x+=1
else:
    print('End')

Current value of x:  0
X is still < 10 , + 1 to x
Current value of x:  1
X is still < 10 , + 1 to x
Current value of x:  2
X is still < 10 , + 1 to x
Current value of x:  3
X is still < 10 , + 1 to x
Current value of x:  4
X is still < 10 , + 1 to x
Current value of x:  5
X is still < 10 , + 1 to x
Current value of x:  6
X is still < 10 , + 1 to x
Current value of x:  7
X is still < 10 , + 1 to x
Current value of x:  8
X is still < 10 , + 1 to x
Current value of x:  9
X is still < 10 , + 1 to x
End

**CONTINUE : "Stop here, and go back up to the start of the loop."**

In [151]:
x = 0
while x<10:
    print('Current value of x :',x)
    print('x<10 add 1 to it')
    x+=1
    if x == 3:
        print('x==3')
    else:
        print('End')
        continue

Current value of x : 0
x<10 add 1 to it
End
Current value of x : 1
x<10 add 1 to it
End
Current value of x : 2
x<10 add 1 to it
x==3
Current value of x : 3
x<10 add 1 to it
End
Current value of x : 4
x<10 add 1 to it
End
Current value of x : 5
x<10 add 1 to it
End
Current value of x : 6
x<10 add 1 to it
End
Current value of x : 7
x<10 add 1 to it
End
Current value of x : 8
x<10 add 1 to it
End
Current value of x : 9
x<10 add 1 to it
End

In [162]:
x = 0
while x<5:
    x+=1
    if x==3:
     continue
    print(x)

1
2
4
5