**List comprehension is a shortcut that creates a new list from an existing string, list, or range — using a for loop in one line.**

In [1]:
mystring = 'hello'

In [3]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]      
#The first letter (before for) says:
 # “Add this to the list.”

#The second letter (after for) says:
#  “Get this from the string.”

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [8]:
mylist = [x for x in range(0,11)]  #"Make a list by taking every x from the range, and putting x in the list."
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
mylist = [num**2 for num in range(0,11)]  #Take every number from 0 to 10, square it, and store it in a list.
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [13]:
mylist = [x for x in range(0,11)]  #Python does not allow line breaks inside list comprehensions unless you use special syntax (like backslashes or parentheses).
    if x%2==0:
    mylist

IndentationError: unexpected indent (44994354.py, line 2)

In [18]:
celcius = [10,22,14,20,35]
fahrenheit = [( (9/5)*temp+32) for temp in celcius]
fahrenheit

[50.0, 71.6, 57.2, 68.0, 95.0]

In [21]:
fahrenheit=[] #It creates an empty list where we’ll put the converted values.
for temp in celcius:    #Take each temperature (we call it temp) from the list celcius one by one.".
    fahrenheit.append(((9/5)*temp+32))    #Convert the temp to Fahrenheit using the formula and add it to the new list

In [22]:
fahrenheit

[50.0, 71.6, 57.2, 68.0, 95.0]

In [23]:
#Make a new list. Go from 0 to 10.
#If the number is even, put the number in the list.
#If the number is odd, put the word 'odd' instead.

results= [ x if x%2==0 else 'odd' for x in range (0,11)]
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

**1. Simple Filter (just if)**

In [24]:
[x for x in range(10) if x%2==0]  #"Go through 0 to 9, and only keep the even ones."
                                  #This is like filtering values.
                                  #order : for → if

[0, 2, 4, 6, 8]

 **2. if-else expression (choose between two options)**

In [25]:
[x if x%2==0 else 'odd' for x in range(10)]  #"Go through 0 to 9. If number is even, keep the number. If odd, write 'odd'."
                                             #Order:if → else → for
                                             #"Decide what to put in the list for each item."

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [32]:
mylist=[]
for x in [2,4,6]:
    for y in [2,30,1000]:
        mylist.append(x*y)
        print(mylist)

[4]
[4, 60]
[4, 60, 2000]
[4, 60, 2000, 8]
[4, 60, 2000, 8, 120]
[4, 60, 2000, 8, 120, 4000]
[4, 60, 2000, 8, 120, 4000, 12]
[4, 60, 2000, 8, 120, 4000, 12, 180]
[4, 60, 2000, 8, 120, 4000, 12, 180, 6000]

In [33]:
mylist=[]
for x in [2,4,6]:
    for y in [2,30,1000]:
        mylist.append(x*y)
print(mylist)

[4, 60, 2000, 8, 120, 4000, 12, 180, 6000]

In [34]:
mylist = [x*y for x in [2,4,6] for y in [2,30,1000]]
mylist

[4, 60, 2000, 8, 120, 4000, 12, 180, 6000]

In [35]:
lst = [x**2 for x in [x**2 for x in range(11)]]
lst
#Inner List:
#[x**2 for x in range(11)]]
#Go from 0 to 10 and square each number
#So,it becomes : [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Outer List:
#[x**2 for x in [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]]
#It now says :Take each of these numbers, and square them again.
#It becomes: [0**2, 1**2, 4**2, 9**2, 16**2, ..., 100**2]
#which is :[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [ ]:
#Python starts from inner to outer only in nested expressions, like math or list comprehension.

#In normal nested for loops (like in for x: and for y:), Python runs them outer first, then inner.