**MAP FUNCTION**

**The map function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list**

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square , my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2 ==0:
        return 'EVEN'
    else:
        return mystring[0]

In [10]:
names = ['Taylor','Ethan','Anna','Calie']

In [11]:
list(map(splicer,names))

['EVEN', 'E', 'EVEN', 'C']

**FILTER FUNCTION**

**The filter function returns an iterator yielding those items of iterable for which function(item) is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.**

In [15]:
def check_even(nums):
    return nums%2==0

In [16]:
my_nums = [1,2,3,4,5,6,7,8]

In [17]:
list(filter(check_even,my_nums))

[2, 4, 6, 8]

In [18]:
for n in filter(check_even,my_nums):
    print(n)

2
4
6
8

**LAMBDA EXPRESSIONS**

**Lambdas are ANONYMOUS functions**

In [19]:
def square(num):
    result =  num**2
    return result

In [20]:
square(7)

49

In [21]:
square = lambda num : num**2

In [22]:
square(3)

9

In [24]:
list(map(lambda num: num**2,my_nums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [25]:
list(filter(lambda num : num%2==0 , my_nums))

[2, 4, 6, 8]

In [26]:
names

['Taylor', 'Ethan', 'Anna', 'Calie']

In [27]:
list(map(lambda x : x[0],names))

['T', 'E', 'A', 'C']