In [3]:
def myfunc():
    print('Hello World')

In [5]:
myfunc()

Hello World

In [6]:
def myfunc(name):
    print('Hello {}'.format(name))

In [8]:
myfunc('Joey')

Hello Joey

In [17]:
def myfunc(x):
    if x == True:
        #print('Hello')
        return 'Hello'
    elif x == False:
        #print('Goodbye')
        return 'Goodbye'

myfunc(x=False)

'Goodbye'

In [21]:
# Define the function
def myfunc(x, y, z):
    if z:
        return x
    else:
        return y

# Call the function with three arguments
result = myfunc('apple', 'banana', True)

# Print the result
print(result)

apple

In [25]:
def myfunc(x,y,z):
    if z ==5:
#print("x+y")
      return x+y
    else:
      print("y+z")

result = myfunc(1,3,4)
print(result)

y+z
None

In [28]:
def myfunc(a,b):
    if a==3:
        return a+b
    else:
       print('a+b')

result = myfunc(1,1)
print(result)

a+b
None

In [30]:
def is_even(n):
    if n%2 == 0:
        return True
        # print(True)  **tested to make sure it DOESN'T work
    else:
        pass
    return False

result = is_even(2)
print(result)

True

In [35]:
def is_greater(x,y):
    if y<x:
        return True
    else:
       return x>y

result = is_greater(2,4)
print(result)

False

In [38]:
# Define the function
def is_greater(x, y):
    return x > y

# Test the function with example values
result = is_greater(10,5)

# Print the result
print(result)

True

In [108]:
def myfunc(word):
      result = []  # This will collect transformed letters
      for index,letter in enumerate(word):
          if index%2==0:
              result.append(letter.lower())  # Even index: lowercase
          else:
              result.append(letter.upper())
      return ''.join(result)

In [109]:
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

In [110]:
def myfunc(*args):
    return sum(args)

In [112]:
myfunc(10,20,10,20,405,6,70)

541

In [113]:
def myfunc(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out

In [114]:
myfunc(2,4,5,6,7,1,8)

[2, 4, 6, 8]

In [115]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [116]:
myfunc('apple')

'aPpLe'

**WARM-UP EXERCISES**

**LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd**

In [48]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [49]:
result = lesser_of_two_evens(2,4)
print(result)

2

In [50]:
result = lesser_of_two_evens(2,13)
print(result)

13

**ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter**  

**animal_crackers('Levelheaded Llama') --> True**  

**animal_crackers('Crazy Kangaroo') --> False**

In [53]:
def animal_crackers(text):
    words = text.split()
    return words[0][0].lower() == words[1][0].lower()             #words[1][0] → first letter of second word ('Llama' → 'L')

In [54]:
animal_crackers('Levelheaded Llama')

True

In [55]:
animal_crackers('Crazy Kangaroo')

False

In [126]:
def animal_crackers(text):
    wordlist = text.split()
    print(wordlist)

    first = wordlist[0].lower()
    second = wordlist[1].lower()

    return first[0] == second[0]

In [127]:
animal_crackers('Cat cog')

['Cat', 'cog']

True

**MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False**  

**makes_twenty(20,10) --> True**  

**makes_twenty(12,8) --> True**  

**makes_twenty(2,3) --> False**

In [66]:
def makes_twenty(n1,n2):
    if (n1+n2)==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [67]:
makes_twenty(20,10)

True

In [68]:
makes_twenty(12,8)

True

In [69]:
makes_twenty(30,2)

False

**LEVEL 1 PROBLEMS**

**OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name**
 
**old_macdonald('macdonald') --> MacDonald**  
    
**Note: 'macdonald'.capitalize() returns 'Macdonald'**

In [132]:
def old_macdonald(name):
    first_letter = name[0]
    inbtw = name[1:3]   #index 1 to index 3
    fourth_letter = name[3]
    rest = name[4:]    #index 4 onwards

    return first_letter.upper()+inbtw+fourth_letter.upper()+rest

In [133]:
old_macdonald('macdonald')

'MacDonald'

In [134]:
def old_macdonald(name):

    first_half = name[:3] #from the beginning all the way to index 3
    second_half = name[3:] #from index 3 all the way to the end

    return first_half.capitalize()+second_half.capitalize()

In [135]:
old_macdonald('macdonald')

'MacDonald'

**MASTER YODA: Given a sentence, return a sentence with the words reversed.**

**master_yoda('I am home') --> 'home am I'**  

**master_yoda('We are ready') --> 'ready are We'**

In [140]:
def master_yoda(text):
    wordlist = text.split()
    a = wordlist[::-1]
    return a

In [141]:
master_yoda('I am home')

['home', 'am', 'I']

In [143]:
mmylist = ['a','b','c']

In [144]:
' '.join(mmylist)

'a b c'

In [145]:
''.join(mmylist)

'abc'

In [148]:
def master_yoda(text):
    wordlist = text.split()
    a = wordlist[::-1]
    return ' '.join(a)

In [149]:
master_yoda('I am home')

'home am I'

**ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200**  

**almost_there(90) --> True**  
**almost_there(150) --> False**  
**NOTE: abs(num) returns the absolute value of a number**

In [93]:
def almost_there(n):
    if 90<=n<=110 or 190<=n<=210:
        return True
    else:
        return False

In [95]:
result = almost_there(90)
print(result)

True

In [96]:
result = almost_there(104)
print(result)

True

In [97]:
result = almost_there(150)
print(result)

True

In [98]:
result = almost_there(205)
print(result)

False

In [99]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [100]:
almost_there(220)

False

In [101]:
almost_there(109)

True

**LEVEL 2 PROBLEMS**

**FIND 33:**

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.  


has_33([1, 3, 3]) → True  

has_33([1, 3, 1, 3]) → False  

has_33([3, 1, 3]) → False

In [6]:
def has_33(nums):

    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True

    return False

In [7]:
has_33([1, 3, 3])

True

In [8]:
has_33([1, 3, 1, 3])

False

In [9]:
def has_33(nums):

    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True

    return False

In [10]:
has_33([1, 3, 1, 3])

False

In [11]:
has_33([1, 3, 3])

True

**PAPER DOLL: Given a string, return a string where for every character in the original there are three characters**

**paper_doll('Hello') --> 'HHHeeellllllooo'**  
    
**paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'**

In [14]:
def paper_doll(text):
    result = ''

    for char in text:
        result+=char+char+char
    return result

In [15]:
paper_doll('Hello')

'HHHeeellllllooo'

In [16]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

**BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'**

**blackjack(5,6,7) --> 18**  

**blackjack(9,9,9) --> 'BUST'**  

**blackjack(9,9,11) --> 19**

In [23]:
def blackjack(a,b,c):
    if sum ([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <=31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [24]:
blackjack(5,6,7)

18

In [25]:
blackjack(9,9,9)

'BUST'

In [26]:
blackjack(9,9,11)

19

**SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers**

**summer_69([1, 3, 5]) --> 9**  

**summer_69([4, 5, 6, 7, 8, 9]) --> 9**  

**summer_69([2, 1, 6, 9, 11]) --> 14**

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([1, 3, 5])

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
summer_69([2, 1, 6, 9, 11])

**CHALLENGING PROBLEMS**

**SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order**

**spy_game([1,2,4,0,0,7,5]) --> True**  

**spy_game([1,0,2,4,0,5,7]) --> True**  

**spy_game([1,7,2,0,4,5,0]) --> False**

In [7]:
def spy_game(nums):

    code = [0,0,7,'x']
    #[0,7,'x']
    #[7,'x']
    #['x'] length = 1
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [8]:
spy_game([1,2,4,0,0,7,5])

True

In [9]:
spy_game([1,0,2,4,0,5,7])

True

In [10]:
spy_game([1,7,2,0,4,5,0])

False

**COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number**

**count_primes(100) --> 25**  

**By convention, 0 and 1 are not prime.**

In [1]:
def count_primes(num):

    #Check for 0 or 1 input
    if num<2:
        return 0 
    ###################
    #2 or greater
    ################### 

    #list to store our prime numbers
    primes = [2]
    #counter going upto input num
    x = 3

    #x is going through every number upto input number
    while x<=num:
        #Check if x is prime
        for y in range(3,x,2):
            if x%y ==0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [2]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [3]:
def count_primes(num):

    #Check for 0 or 1 input
    if num<2:
        return 0 
    ###################
    #2 or greater
    ################### 

    #list to store our prime numbers
    primes = [2]
    #counter going upto input num
    x = 3

    #x is going through every number upto input number
    while x<=num:
        #Check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [4]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [19]:
def prime(n):
    counter = 0
    for x in range(2, n+1):
        is_prime = True  # assume prime
        for d in range(2, x):
            if x % d == 0:
                is_prime = False  # found divisor, not prime
                break  # stop checking
        if is_prime:
            print(x)
            counter += 1
    print('Counter: ',counter)
    
    return counter

In [20]:
prime(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
Counter:  25

25

**PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter**

**print_big('a')**  


out:   *    
      * *
     *****
     *   *
     *   *

In [49]:
def print_big(letter):
    patterns = {1:'  *  ' , 2:' * * ', 3:'*   * ' , 4:'*****',5:'**** ',6: '  *',7:' *  ',8:'*  *',9:'*  '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [48]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [50]:
print_big('b')

****
*   *
****
*   *
****