**Write a function that computes the volume of a sphere given its radius.**

**The volume of a sphere is given as**

                                    4/3 pi r^3

In [2]:
def vol(rad):
    return (4/3)*(3.142)*(rad**3)

In [3]:
vol(2)

33.51466666666666

In [4]:
vol(4)

268.1173333333333


**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [5]:

    for item in range(0,5):   # This is inclusive of lower bound , this means it includes 0
        print(item)           # And exclusive of upper bound , this means it does not include 5
# to include the last number that is the upper bound we add +1 to the last number

0
1
2
3
4

In [6]:
5 in range (0,10)

True

In [7]:
5 in range(0,5)   #it is false because , it is exclusive i.e. it does not include 5

False

In [8]:
def ran_check(num,low,high):
     return num in range(low,high+1)  #Why +1 because , to include even the last number

In [10]:
ran_check(5,2,7)

True

In [17]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range of {low} and {high}')
    else:
        print('not in range')

In [18]:
ran_check(10,3,22)

10 is in range of 3 and 22

**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'  

Expected Output :   

No. of Upper case characters : 4  

No. of Lower case Characters : 33  

**HINT: Two string methods that might prove useful: .isupper() and .islower()**

**If you feel ambitious, explore the Collections module to solve this problem!**

In [19]:
def up_low(s):
    lowercase = 0
    uppercase = 0

    for char in s:
        if char.isupper():
            uppercase+=1
        elif char.islower():
            lowercase+=1
        else:
            pass

    print(f'Original String: {s}')
    print(f'Lowercase Count: {lowercase}')
    print(f'Uppercase Count: {uppercase}')

In [20]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase Count: 33
Uppercase Count: 4

In [21]:
def up_low(s):
    d = {'upper': 0 , 'lower' : 1}
   
    for char in s:
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass

    print(f'Original String: {s}')
    print(f'Lowercase Count: {d["lower"]}')
    print(f'Uppercase Count: {d["upper"]}')

In [22]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase Count: 34
Uppercase Count: 4

**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]  

Unique List : [1, 2, 3, 4, 5]

In [26]:
def unique_list(lst):
    return set(lst)

In [27]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [28]:
def unique_list(lst):
    return list(set(lst))

In [29]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [7]:
def unique_list(lst):
    seen_numbers = []
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [8]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

**Write a Python function to multiply all the numbers in a list.**

Sample List : [1, 2, 3, -4]  
Expected Output : -24

In [9]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total * num
    return total

In [10]:
multiply([1,2,3,-4])

-24

In [13]:
def add(numbers):
    total = 0
    for num in numbers:
        total = total+num
    return total

In [14]:
add([1,2,4,-2])

5

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [19]:
def palindrome(s):
    #REMOVE THE SPACES FROM THE STRING
    s = s.replace(' ','')
    
    #CHECK IF STRING IS EQUAL TO REVERSE STRING
    return s == s[::-1]

In [20]:
palindrome('nurses run')

True

In [21]:
palindrome('n ur ses ru n')

True


**Hard:**

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

**Note : Pangrams are words or sentences containing every letter of the alphabet at least once.**  

**For example : "The quick brown fox jumps over the lazy dog"**  

**Hint:** You may want to use .replace() method to get rid of spaces.

**Hint:** Look at the string module

**Hint:** In case you want to use set comparisons

In [33]:
import string

def ispangram(str1 , alphabet = string.ascii_lowercase):

    #Create a set of alphabet
     alphaset = set(alphabet)

     print(alphaset)
    #Remove any spaces from the input string
     str1 = str1.replace(' ','')
    
    #Convert the input string into all lower case
     str1 = str1.lower()
     print(str1)

    #Grab all unique letters from the string set()
     str1 = set(str1)

    #Alphabet set == string set input
     return str1 == alphabet

In [34]:
ispangram("The quick brown fox jumps over the lazy dog")

{'b', 'g', 'y', 'h', 's', 'i', 'c', 'e', 'z', 'w', 'k', 'r', 'j', 'v', 'q', 'x', 'l', 'd', 'n', 'm', 't', 'o', 'a', 'p', 'u', 'f'}
thequickbrownfoxjumpsoverthelazydog

False

In [ ]:
string.ascii_lowercase